/*

  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
footer {
  text-align: center;
  color: white;
  font-family: 'Poiret One', Helvetica, Verdana, sans-serif;
  font-size: 10px; 
}

.lily_logo{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sobe_logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hot_image {
	height:30px; width: auto; 
}

.grid_image {
  max-width: 180px;
  max-height: 180px;
  display: block;
}

.grid__title {
  font-family: 'Poiret One', Helvetica, Verdana, sans-serif; 
  font-size: 24px;
}

/*styling for show on pictures*/
.center_show{
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    margin-bottom: 100px;
*/
}
.title_text{
  text-align: center;
  margin-top: 25px;
  margin-bottom: -25px;
}

.center_text{
  text-align: center;
}

/* Here is the beast mode CSS for the frontpage */
/*=========================================================*/

main {
  margin: 0;
  padding: 0;
  /*background: rgba(22, 160, 133,1.0);*/
  background: rgba(35,35,35,0.75);
  font: 12px/14px 'Poiret One', Verdana, sans-serif;
}
.wrap {
  overflow: hidden;
  margin: 10px;
}
.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.boxInner .tile_image {
  height: 100%;
  margin: 0 auto;
}
.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}
main.no-touch .boxInner:hover .titleBox, main.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}


/* Compatability build-in for touch devices, son! */

    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }


/*This code is affecting the form.html.erb folder within pictures!!*/

.new_field {
  /*text-align: center;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  display: inline-block;
  width: auto;
}


.new_picture{
  text-align: center;
}

.create_button {
  padding: 10px;
}

h1 {
  text-align: center;
}

.upload {
  text-align: center;
}

.back_button {
  text-align: center;
}