/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#lily_logo{
	max-width: 250px;
	padding-left: auto;
	padding-right: auto;
	
}

body{
	font-size: 15px;


.hot_image {
	height:30px; width: auto; 
}

