/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.center{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
/*#lily_logo{
	max-width: 250px;
	margin-left: auto;
    margin-right: auto;
   /* width: 70%;*/

.hot_image {
	height:30px; width: auto; 
}

/* Here is the beast mode CSS for the frontpage */

.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
    
}

a {
  color: #888;
  text-decoration: none;
}

a:hover,
a:active {
  color: #333;
}

/* Header Style */
.container > header {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background: rgba(0,0,0,0.01);
}

.container > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

