body {
  /*  background: rgba(26, 188, 156,1.0);*/
  background-image: url("grid.png");
  background-repeat: repeat;
  font-family: 'Poiret One', Helvetica, Verdana, sans-serif;
  color: rgba(250,250,250,0.85);
  font-size: 20px;
  text-shadow: 4px 4px 4px 4px rgba(38,38,38,0.50);
}