/*body { background-color: #00A99D;
  text-shadow: 2px;
}

h1 {
  width: 300px;
  font-size: 250%;
  border-style: solid;
  border-color: black;
  box-shadow: 12px 11px 10px;
  margin: 20px auto;
}

.field {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  margin-top: 5px;
}


*/
