body { background-color: gray;
  text-shadow: 7px 5px 6px;
}

h1 {
  width: 500px;
  font-size: 250%;
  border-style: solid;
  border-color: black;
}

.field {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  margin-top: 5px;
}